---
layout: default
single: true
---
{% include article.html %}
<div class="categories">
  {% include post/categories.html %}
  {% if page.source.url %}via <a href="{{ page.source.url }}">{{ page.source.title }}</a>{% endif %}
</div>
<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = 'podabedorg';
  (function() {
  var dsq = document.createElement('script');
  dsq.type = 'text/javascript';
  dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>