<head>
  <meta charset="utf-8">
  <meta content="{{ site.description }}" name="description">
  <meta content="{{ site.author }}" name="author">
  <title>{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }}</title>
  <link href="{{ root_url }}/favicon.png" rel="icon">
  <link href="{{ root_url }}/stylesheets/default.css" rel="stylesheet">
  <link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">
  <link href="{{ root_url }}/stylesheets/syntax.css" type="text/css" rel="stylesheet" />
</head>