---
layout: default
---
{% assign index = true %}
{% for page in paginator.posts %}
{% assign content = page.content %}
{% include article.html %}
{% endfor %}
<nav>
  {% if paginator.next_page %}
    <div class="pagination-item">
      <a href="{{paginator.next_page}}">Вперёд в прошлое</a>
    </div>
  {% else %}
    <span class="pagination-item">Вперёд в прошлое</span>
  {% endif %}
  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
    <div class="pagination-item">
      <a href="/">Назад в будущее</a>
    </div>
  {% else %}
    <div class="pagination-item">
      <a href="{{paginator.previous_page}}">Назад в будущее</a>
    </div>
  {% endif %}
  {% else %}
    <span class="pagination-item">Назад в будущее</span>
  {% endif %}
</nav>